# JUNÇÕES ENTRE TABELAS
Para esse notebook, iremos criar duas views temporárias para simular funcionários de diferentes departamentos (view `employee`) e alguns departamentos correspodentes (view `department`). A coluna `deptno` especifica o número do departamento, sendo que na view `employee` (como uma chave estrangeira), mostra qual departamente o funcionário pertence/trabalha e na view `department` (como uma chave primária) contém os detalhes do departamento em questão. Por isso, a coluna `depto` poderá ser usada como lógica de junção entre as views (ou "tabelas"),

In [0]:
%sql
CREATE TEMP VIEW employee(id, name, deptno) AS
  VALUES(105, 'Chloe', 5),
        (103, 'Paul', 3),
        (101, 'John', 1),
        (102, 'Lisa', 2),
        (104, 'Evan', 4),
        (106, 'Amy' , 6);

In [0]:
%sql
CREATE TEMP VIEW department(deptno, deptname) AS
  VALUES(3, 'Engineering'),
        (2, 'Sales'),
        (1, 'Marketing');

### INNER JOIN
Retorna as linhas que têm valores correspondentes em ambas as referências de tabela. O tipo de junção padrão.

In [0]:
%sql
SELECT 
  employee.id, 
  employee.name, 
  employee.deptno, 
  department.deptname
FROM employee
INNER JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno,deptname
103,Paul,3,Engineering
101,John,1,Marketing
102,Lisa,2,Sales

### LEFT JOIN
Retorna todos os valores da referência de tabela esquerda e os valores correspondentes da referência de tabela direita, ou acrescenta NULL se não houver correspondência. Também é chamado de left outer join.

In [0]:
%sql
SELECT 
  id, 
  name, 
  employee.deptno, 
  deptname
FROM employee
LEFT JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno,deptname
105,Chloe,5,null
103,Paul,3,Engineering
101,John,1,Marketing
102,Lisa,2,Sales
104,Evan,4,null
106,Amy,6,null

### RIGHT JOIN
Retorna todos os valores da referência de tabela direita e os valores correspondentes da referência de tabela esquerda, ou acrescenta NULL se não houver correspondência. Também é chamado de right outer join.

In [0]:
%sql
SELECT 
  id, 
  name, 
  employee.deptno, 
  deptname
FROM employee
RIGHT JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno,deptname
103,Paul,3,Engineering
102,Lisa,2,Sales
101,John,1,Marketing

### FULL JOIN
Retorna todos os valores de ambas as relações, acrescentando valores NULL no lado que não tem uma correspondência. Também é chamado de full outer join.

In [0]:
%sql
SELECT 
  id, 
  name, 
  employee.deptno, 
  deptname
FROM employee
FULL JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno,deptname
101,John,1,Marketing
102,Lisa,2,Sales
103,Paul,3,Engineering
104,Evan,4,null
105,Chloe,5,null
106,Amy,6,null

In [0]:
%sql
SELECT 
  id, 
  name, 
  employee.deptno, 
  deptname
FROM employee
CROSS JOIN department;

id,name,deptno,deptname
105,Chloe,5,Engineering
105,Chloe,5,Sales
105,Chloe,5,Marketing
103,Paul,3,Engineering
103,Paul,3,Sales
103,Paul,3,Marketing
101,John,1,Engineering
101,John,1,Sales
101,John,1,Marketing
102,Lisa,2,Engineering
102,Lisa,2,Sales
102,Lisa,2,Marketing
104,Evan,4,Engineering
104,Evan,4,Sales
104,Evan,4,Marketing
106,Amy,6,Engineering
106,Amy,6,Sales
106,Amy,6,Marketing

### SEMI JOIN
Retorna valores do lado esquerdo da referência de tabela que tem uma correspondência com o direito. Também é chamado de left semi join.

In [0]:
%sql
SELECT *
FROM employee
SEMI JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno
103,Paul,3
101,John,1
102,Lisa,2

### ANTI JOIN
Retorna os valores da referência de tabela esquerda que não têm correspondência com a referência de tabela direita. Também é chamado de anti join esquerdo.

In [0]:
%sql
SELECT *
FROM employee
ANTI JOIN department 
  ON employee.deptno = department.deptno;

id,name,deptno
105,Chloe,5
104,Evan,4
106,Amy,6

### NATURAL JOIN
Quando você especifica USING ou NATURAL, SELECT * mostrará apenas uma ocorrência para cada uma das colunas usadas para corresponder primeiro, seguido pelas colunas das tabelas de junção esquerda e direita, excluindo as colunas unidas.

In [0]:
%sql
SELECT *
FROM employee
JOIN department USING (deptno)

deptno,id,name,deptname
3,103,Paul,Engineering
1,101,John,Marketing
2,102,Lisa,Sales

NOTA: Em todos os exemplos que utilizamos a cláusula ON para igualar valores de uma coluna de mesmo nome em ambas as tabelas, você poderá substituir pela cláusula USING conforme exemplo acima

In [0]:
%sql
SELECT *
FROM employee
JOIN department

id,name,deptno,deptno,deptname
105,Chloe,5,3,Engineering
105,Chloe,5,2,Sales
105,Chloe,5,1,Marketing
103,Paul,3,3,Engineering
103,Paul,3,2,Sales
103,Paul,3,1,Marketing
101,John,1,3,Engineering
101,John,1,2,Sales
101,John,1,1,Marketing
102,Lisa,2,3,Engineering
102,Lisa,2,2,Sales
102,Lisa,2,1,Marketing
104,Evan,4,3,Engineering
104,Evan,4,2,Sales
104,Evan,4,1,Marketing
106,Amy,6,3,Engineering
106,Amy,6,2,Sales
106,Amy,6,1,Marketing

In [0]:
%sql
SELECT 
  id, 
  name, 
  deptno, 
  deptname
FROM employee
LEFT JOIN LATERAL (
  SELECT deptname
  FROM department
  WHERE employee.deptno = department.deptno
);

id,name,deptno,deptname
105,Chloe,5,null
103,Paul,3,Engineering
101,John,1,Marketing
102,Lisa,2,Sales
104,Evan,4,null
106,Amy,6,null

Se desejar aprofundar sobre LATERAL JOIN, veja esse artigo: [Lateral Join — Um exemplo prático](https://medium.com/gbtech/lateral-join-um-exemplo-prático-16ab1db548ca)

Veja a documentação do Databricks sobre Junções: [JOIN](https://docs.databricks.com/aws/en/sql/language-manual/sql-ref-syntax-qry-select-join)